[submodule "Shunya-Core/Third_party/spdlog"]
	path = Shunya-Core/Third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Shunya-Core/third_party/GLFW"]
	path = Shunya-Core/third_party/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Shunya/Shunya-Core/third_party"]
	path = Shunya/Shunya-Core/third_party
	url = https://github.com/Abhimanyu254a/imgui
[submodule "Shunya-Core/third_party/iamGUI"]
	path = Shunya-Core/third_party/iamGUI
	url = https://github.com/Abhimanyu254a/imgui
[submodule "Shunya-Core/third_party/imGUI"]
	path = Shunya-Core/third_party/imGUI
	url = https://github.com/Abhimanyu254a/imgui.git
