[submodule "Shunya-Core/Third_party/spdlog"]
	path = Shunya-Core/Third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Shunya-Core/third_party/GLFW"]
	path = Shunya-Core/third_party/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Shunya-Core/third_party/imGUI"]
	path = Shunya-Core/third_party/imGUI
	url = https://github.com/Abhimanyu254a/imgui.git
[submodule "Shunya-Core/third_party/yml-cpp"]
	path = Shunya-Core/third_party/yml-cpp
	url = https://github.com/Abhimanyu254a/yaml-cpp.git
[submodule "Shunya-Core/third_party/yml_cpp"]
	path = Shunya-Core/third_party/yml_cpp
	url = https://github.com/Abhimanyu254a/yaml-cpp.git
[submodule "Shunya-Core/third_party/yaml_cpp"]
	path = Shunya-Core/third_party/yaml_cpp
	url = https://github.com/Abhimanyu254a/yaml-cpp.git
[submodule "Shunya-Core/third_party/ImGizmos"]
	path = Shunya-Core/third_party/ImGizmos
	url = https://github.com/Abhimanyu254a/ImGuizmo.git
